aiohttp==3.0.9
attrs==18.1.0
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.4.16
chardet==3.0.4
cycler==0.10.0
html5lib==1.0.1
idna==2.6
idna-ssl==1.0.1
kiwisolver==1.0.1
matplotlib==2.2.2
mixpanel==4.3.2
multidict==4.3.1
numpy==1.14.1
pandas==0.22.0
Pillow==5.0.0
pyparsing==2.2.0
pyTelegramBotAPI==3.6.2
python-dateutil==2.7.2
pytz==2018.4
pyzbar==0.1.5
redis==2.10.6
requests==2.18.4
scikit-learn==0.19.1
six==1.11.0
telepot==12.6
urllib3==1.22
webencodings==0.5.1
yarl==1.2.3
